/* font family links */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* universal styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    
}


/* shared styles  */
.common-width{
    width: 80%;
    margin: 0 auto;
}
main>section{
    padding-top:50px;
    padding-bottom: 50px;
}

.display-flex{
    display: flex;
}
.primary-text{
    color: rgb(230, 83, 60);

}
.text-color {
    color: rgb(255, 255, 255);

}
.text-light{
    color: rgba(255, 255, 255, 0.5);
}

.btn-primary{
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    
}
.section-title{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
margin-bottom: 10px;


}

/* header style here  */
.header-container{
    padding-top: 60px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 5) 100%);

}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    
    font-size: 2.25rem;
    font-weight: 800;
}
.navlinks{
    list-style: none;
    
}
.nav-link{
    text-decoration: none;
    margin: 0 40px;
    padding: 4px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255);

}


#active{
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    

}
.menu{
    display: none;
}

.habits,.run-mile,.bmi{
    width: 100%;
    background: #000;
}


/* header banner styles  */
.banner{
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    
}
.banner-content{
    max-width:550px ;
}

.banner-title{
    font-size: 4.8rem;
    font-weight: 900;
    margin-bottom: 10px;
}
#fancy-text{
   
  font-family: "Dancing Script", cursive;
  font-weight: normal;

}
.banner-discription {
    margin-bottom: 20px;
    padding: 0 10px 0 0;
}
button{
    cursor: pointer;
}

.btn{
    margin-right: 10px;
}
.btn-secondary{
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    border: none;
    color: rgb(255, 255, 255);
    background: #00000020;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid rgb(255, 255, 255);

}

.banner-imgage{
    position: relative;
    left: -100px;
    bottom: -4px;
}
/* Floting boxs  */
.float{
width: 150px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
padding: 10px 0px 10px 10px;
color: #ffffff;
font-weight: 400px;
text-align: left;
}
.float-text{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5px;
}
#move-up{
    position: absolute;
    top: 200px;
    left: 250px;
}

#move-down{
    position: absolute;
    bottom: 100px;
    right: 250px;
    width: 180px;
}


.box{
    align-items: center;
    
}
.box-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(230, 83, 60);
    margin-right: 10px;
    cursor: pointer;
}




/* habits styles here  */



.habit-content{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.habits-card-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.habit-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.habit-card .imgbox{
    max-width: 200px;
    max-width: 200px;
    border-radius: 50%;
   
}
.imgbox img{
    width: 100%;
    border-radius: 50%;

}

.card-text{
    text-align: center;
    padding: 20px 50px;
}
.card-text h3{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}


/* run extra mile style  */
.run-container{
    align-items: center;
    height: 400px;
    padding: 20px;
    justify-content: space-between;
    gap: 0 50px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}
.run-content{
    padding: 20px;

}
.run-content h3, .run-content p, .run-content button{
    margin-bottom: 20px;
    
}
.text-space{
    padding-right: 40px;
}
.run-img{
    width: 80%;
    height : auto;
    border-radius: 18px;
    padding: 20px;
}
.run-img img{
    width: 100%;
    height: auto;
    border-radius: 18px;
}


/* bmi page style here  */
.bmi-content{
    max-width:550px ;
    margin: 0 auto;
}



/* bmi calculator page  */


.bmi-calculator{
    width: 100%;
    margin: 60px auto;
    background: rgb(34, 34, 34);
    height: 500px;
    
}

.calculator-container{
    padding: 30px 0;
    justify-content: space-between;
}
.bmi-table-title,.calculator-title{
    font-size: 1.8rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}
.bmi-chart{
    margin-top: 50px;
}
.bmi-chart
,th,td{
    
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    text-align: left;

    
}
th,td{
    padding: 18px 42px;
}
td{
    color: rgba(255, 255, 255, 0.5);
}
.table-head{
    font-size: 18px;
    font-weight: 500px;
    color: rgb(255, 255, 255);
}
.calculator{
    margin-top: 50px;
}
.bmi-calculator-box{
   
    max-width: 500px;
    height: auto;
}

.info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    
    

}

input,select{
    padding: 14px 0px 14px 20px;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    overflow: hidden;
    width: 100%;

}
option{
    background: #00000000;
    border-radius: 8px;
    color: rgba(5, 0, 0, 0.976);
}
.full{
    display: block;
    width: 100%;
    margin: 10px 0;
}

.btn-space{
    margin-top: 20px;
}

/* media query Styles   */

@media screen and (max-width: 576px) {
    .common-width{
        width: 90%;
        margin: 0 auto;
    }
    .navlinks{
        display: none;
    }
    .menu{
        display: block;
    }

    .banner , .run-container,.calculator-container{
        flex-direction: column;
    }

    .run-container,.bmi-calculator{
        height: auto;
    }
    
    .banner-title{
        font-size: 2.5rem;
    }

    .btn-primary,.btn-secondary{
        padding: 10px 14px;
        gap: 0 20px;
    }

    .banner-imgage{
        position: relative;
        left: 0px;
    }
    
    #move-up{
        position: absolute;
        top: 80px;
        left: 190px;
    }

    #move-down{
        position: absolute;
        bottom: 250px;
        right: 165px;
        width: 180px;
    }
    

    /* habits media style here  */
    .section-title{
        font-size: 2rem;
    }

    .habits-card-container{
        grid-template-columns: repeat(1, 1fr);
    } 

    .run-content{
        padding: 20px;
        display: flex;
        flex-direction: column;
    
    }

    .run-img{
        width: 100%;
        
    }



    /* bmi calculator here  */
    th,td{
        padding: 18px 22px;
    }
    .bmi-calculator-box{
        width: 100%;
    }
    .bmi-calculator-box{
        margin-top: 50px;
        
    }

    
}